In [1]:
%run "..\\..\\config\\AppSettings.py"

import pandas as pd
#from app.config.AppSettings import AppSettings

In [2]:
settings = AppSettings()

url_list = []
url_list.append(settings._common_account)
url_list.append(settings._repo_name)
url_list.append(settings._branch_name)
url_list.append(settings._app_root)
url_list.append(settings._data_analysis_folder)
url_list.append(settings._raw_files_path)
url_list.append(settings._json_path)

json_url = settings._raw_data_url + "/".join(url_list)

In [3]:
#Reading JSON File
df = pd.read_json(json_url)

In [5]:
df.head(10)

,Country,Year,Area (square kilometres),Total population,"Population density, pers. per sq. km","Population aged 0-14, male","Population aged 0-14, female","Population aged 15-64, male","Population aged 15-64, female","Population aged 64+, male",...,"Employment in industry and energy (ISIC Rev. 4 B-E), share of total employment","Employment in construction (ISIC Rev. 4 F), share of total employment","Employment in trade, hotels, restaurants, transport and communications (ISIC Rev. 4 G-J), share of total employment","Employment in finance, real estate and business services (ISIC Rev. 4 K-N), share of total employment","Employment in public administration, education and health (ISIC Rev. 4 O-Q), share of total employment","Employment in other service activities (ISIC Rev. 4 R-U), share of total employment",Persons killed in road accidents,Persons injured in road accidents,Total length of motorways (km),Total length of railway lines (km)
0,Albania,2000,28748.0,3401198.0,118.31077,564851.0,529820.0,1029446.0,1086946.0,82588.0,...,NaN,NaN,NaN,NaN,NaN,NaN,280.0,336.0,NaN,400.0
1,Albania,2001,28748.0,3073734.0,106.91992,460732.0,436652.0,963612.0,980800.0,108254.0,...,NaN,NaN,NaN,NaN,NaN,NaN,297.0,250.0,NaN,409.0
2,Albania,2002,28748.0,3093465.0,107.60627,452373.0,427711.0,977294.0,995773.0,112546.0,...,NaN,NaN,NaN,NaN,NaN,NaN,250.0,228.0,NaN,428.0
3,Albania,2003,28748.0,3111162.0,108.22186,442939.0,417968.0,991075.0,1010693.0,116714.0,...,NaN,NaN,NaN,NaN,NaN,NaN,264.0,248.0,NaN,428.0
4,Albania,2004,28748.0,3127264.0,108.78197,433178.0,407988.0,1004398.0,1024845.0,120801.0,...,NaN,NaN,NaN,NaN,NaN,NaN,315.0,820.0,NaN,428.0
5,Albania,2005,28748.0,3142065.0,109.29682,422474.0,397035.0,1017940.0,1038397.0,124902.0,...,NaN,NaN,NaN,NaN,NaN,NaN,307.0,875.0,NaN,NaN
6,Albania,2006,28748.0,3146813.0,109.46198,412338.0,382518.0,1034511.0,1043079.0,129029.0,...,NaN,NaN,NaN,NaN,NaN,NaN,277.0,1065.0,2655.0,NaN
7,Albania,2007,28748.0,3161337.0,109.96720,403781.0,371622.0,1050345.0,1051923.0,133370.0,...,NaN,NaN,NaN,NaN,NaN,NaN,384.0,1344.0,2631.0,NaN
8,Albania,2008,28748.0,3181950.0,110.68422,396600.0,365265.0,1061262.0,1065136.0,137664.0,...,NaN,NaN,NaN,NaN,NaN,NaN,303.0,1256.0,NaN,NaN
9,Albania,2009,28748.0,3194417.0,111.11789,388901.0,358535.0,1069596.0,1077017.0,140550.0,...,NaN,NaN,NaN,NaN,NaN,NaN,378.0,1455.0,NaN,NaN